@{
    ViewData["Title"] = "Plan a Wedding";

}

@model Wedding


<div class="d-flex justify-content-between align-items-center border-bottom">
    <h2>Welcome, @Context.Session.GetString("LoggedUser")!</h2>
    <div class="d-flex justify-content-cneter gap-3 align-items-center">
        <a asp-action="AllWeddings" asp-controller="Wedding">Home</a>
        <a asp-action="PlanWeddingWedding" asp-controller="Wedding">Plan a Wedding</a>
        <form asp-action="LogoutUser" asp-controller="User" method="Post">
            <button class="btn btn-link">Logout</button>
        </form>
    </div>
</div>
<h1>Plan a Wedding</h1>
<form asp-action="CreateWedding" asp-controller="Wedding" method="post">
    <div class="form-group mb-3">
        <label asp-for="WedderOne"></label>
        <input asp-for="WedderOne" class="form-control">
        <span asp-validation-for="WedderOne" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="WedderTwo"></label>
        <input asp-for="WedderTwo" class="form-control">
        <span asp-validation-for="WedderTwo" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <button class="btn btn-primary mt-3">Submit</button>

</form>