@{
    ViewData["Title"] = "Home Page";
    Layout = "_NoNavNoFoot";
}


<div class="text-center">
    <div class="row">
        @await Html.PartialAsync("_Register")
        @await Html.PartialAsync("_Login")
    </div>
</div>